/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/upload/admin_images/1631767709msedge_tux7Yl8mON.png
public/upload/admin_images/1631767572msedge_tux7Yl8mON.png
public/upload/admin_images/16317685481168742.png
public/upload/user_images/16324520261168742.png
public/upload/brand/1711986774493281.2ka057du.png
public/upload/brand/1712074164111602.msedge_Ci1cCOHRSB.png
